	header,nav,section,article,footer{
		margin: 10px 70px; 
		padding: 10px ;
	/*}
	header{
		background-color: rgba(0, 0, 255, 0.2);
		height: 50px;
	}*/
	nav{
		background-color: #44aabb;
	}
	section{
		/*background-color: #34D555;*/
		width : 48em;
		/*height: 300px;*/
		height: 150px;
		display : inline-block;
	    width : 48em;
	  /*  height : 40em;*/
	    border-width : 0.1em;
	    border-color : black;
	    float: left;
	    border: 2px;

	}
	aside
	{
		/*background-color: rgba(103, 155, 229, 0.3);*/
		background-color: lightgray;
	    width : 12em;
	    height: 300px;
	    display: inline-block;
	    width: 12em;
	    /* height: 40em; */
	    border-width: 0.1em;
	    /* border-style: dashed; */
	    border-color: black;
	    float: left;
	    /*margin-top: -270px;*/
	    padding: 15px;
	    margin-left: 70px;
	    position: absolute;
	    overflow: overlay;
	}
	article{
		background-color: #33aaff;
	}
	footer{
		background-color: #44bbff;
	}
	label{
		padding: 5px;
	}

	#left-header{
		/*margin-left: 10px;*/
		position: absolute;
		list-style-type: none;
		float: right;
	}
	#left-header li{
		display: inline;
	}
	li a{
		display: inline;
		padding: 0px 10px;
		font-weight: bold;
	}
	
	#right-header{
		float: right;
    	padding-right: 100px;
	}
	#right-header img{
		display: inline;
		position: absolute;
		right: 21%;
		width: 60px;
	}
	.container{
		margin-left: 20%;
	}
	.item{
		display: inline-block;
		width: 9%;
		padding-left: 10%;

	}
	.plusBtn{
		background-image: url(../imgs/plus.png);
	   	width: 28px;
	    height: 26px;
	    background-size: 28px;
	    background-color: white;
	    border-radius: 7px;
	    background-position: center;
	    margin-top: 1px;
	    position: absolute;
	}
	.minusBtn{
		background-image: url(../imgs/minus.ico);
	    width: 22px;
	    height: 10px;
	    background-size: 22px;
	    background-color: black;
	    border-radius: 10px;
	    background-position: center;
	    /* margin-top: 28px; */
	    position: relative;
	    margin-left: 2px;
	    top: 16px;
	}

	.delBtn{
		background-image: url(../imgs/del.png);
	   	width: 28px;
	    height: 26px;
	    background-size: 28px;
	    background-color: white;
	    border-radius: 7px;
	    background-position: center;
	    margin-top: 1px;
	    position: absolute;
	}
	.latest_order_header{
		margin-left: 105px;
	}
	.search_form{
		float: right;
    	margin-right: -37.5%;
    	height: 50%;
	}
	.user_id{
		margin-bottom: 25px;
	}